In [1]:
from base import *

In [2]:
df_0 = read_data("n0c15X50l1.csv")
df_9 = read_data("n9c15X50l1.csv")
df_18 = read_data("n18c15X50l1.csv")
df_45 = read_data("n45c15X50l1.csv")
df_90 = read_data("n90c15X50l1.csv")

WARNING! Less than 1000 samples in file: n0c15X50l1.csv, k = 599

In [6]:
df_0 = read_data("n0c15X50l1.csv")
df_0_X = read_cells("n0c15X50l1_X.csv")
df_0_Y = read_cells("n0c15X50l1_Y.csv")
df_0_ZX = read_cells("n0c15X50l1_ZX.csv")
df_0_ZY = read_cells("n0c15X50l1_ZY.csv")
df_0_P = read_cells("n0c15X50l1_P.csv")

WARNING! Less than 1000 samples in file: n0c15X50l1.csv, k = 599
WARNING! Less than 1000 samples in file: n0c15X50l1_X.csv, k = 600
WARNING! Less than 1000 samples in file: n0c15X50l1_Y.csv, k = 600
WARNING! Less than 1000 samples in file: n0c15X50l1_ZX.csv, k = 600
WARNING! Less than 1000 samples in file: n0c15X50l1_ZY.csv, k = 600
WARNING! Less than 1000 samples in file: n0c15X50l1_P.csv, k = 600

In [7]:
df_0.head()

,0,5,10,20,30,40,50,60,70,80,90,100,110,120,130,140
0,0,1,5,21,38,53,72,92,118,138,155,170,189,204,225,243
1,0,1,9,23,40,61,82,97,113,134,149,178,198,213,235,250
2,0,1,7,22,40,57,70,88,103,121,136,153,166,180,194,212
3,0,1,6,23,39,53,69,83,96,111,122,153,173,188,208,221
4,0,1,6,18,38,56,76,93,109,129,149,169,188,206,221,241

In [8]:
df_0_X.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,50,70,89,99,108,117,133,145,165,178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50,56,72,76,97,97,122,125,148,142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50,68,84,100,121,140,156,173,197,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50,67,81,98,110,121,128,138,144,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,58,71,84,101,105,119,134,150,158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
class Sample():
    def __init__(self, name, range_tab, X_tab, Y_tab, ZX_tab, ZY_tab, P_tab): 
           
        self.name = name
        self.X = X_tab
        self.Y = Y_tab
        self.ZX = ZX_tab                 
        self.ZY = ZY_tab
        self.P = P_tab
        
        self.m_range = [0,5,10,20,30,40,50,60,70,80,90,100,110,120,130,140]
        
        self.filling_df = pd.DataFrame( self.m_range, columns = ["range"])
        self.filling_df["time"] = range_tab
        self.filling_df["X"] = self.X[ range_tab]
        self.filling_df["filling"] = self.filling_df["X"] / (np.pi*self.filling_df["range"]**2)
        
        self.filling_df.index = self.filling_df['range']
        self.filling_df.drop(['range'], axis = 1, inplace = True)
        self.filling_df.drop([0,5], axis = 0, inplace = True)   
            #df.drop( [150,160], axis = 1, inplace = True)

        
    def __repr__(self):
        return repr((self.name))
    
    def show(self):
        print("\nname = ", self.name)
        print("", self.filling_df)

In [126]:
samples_tab = []
for i in range(40):
    range_tab = np.array(df_0.iloc[i].dropna().astype(dtype = 'int32')) 
    X =  np.array(df_0_X.iloc[i].dropna().astype(dtype = 'int32')) 
    Y =  (df_0_Y.iloc[i].dropna().astype(dtype = 'int32')) 
    ZX = (df_0_ZX.iloc[i].dropna().astype(dtype = 'int32')) 
    ZY = (df_0_ZY.iloc[i].dropna().astype(dtype = 'int32')) 
    P =  (df_0_P.iloc[i].dropna().astype(dtype = 'int32')) 
    samples_tab.append( Sample(i,range_tab,X,Y,ZX,ZY,P) )

In [128]:
for sample in samples_tab:
    sample.show()

name =  0
        time      X   filling
range
10        5    117  0.372423
20       21    351  0.279317
30       38    775  0.274100
40       53   1342  0.266982
50       72   2255  0.287116
60       92   3309  0.292580
70      118   5243  0.340592
80      138   7492  0.372622
90      155  10089  0.396473
100     170  12200  0.388338
110     189  15470  0.406963
120     204  18318  0.404917
130     225  22505  0.423880
140     243  27381  0.444676

name =  1
        time      X   filling
range
10        9    142  0.452000
20       23    391  0.311148
30       40   1060  0.374898
40       61   1916  0.381176
50       82   2980  0.379425
60       97   4070  0.359867
70      113   5712  0.371058
80      134   8036  0.399678
90      149  10066  0.395569
100     178  14088  0.448435
110     198  17470  0.459576
120     213  20183  0.446142
130     235  24792  0.466955
140     250  28353  0.460461

name =  2
        time      X   filling
range
10        7    173  0.550676
20       22    440  0.350141
30       40    956  0.338116
40       57   1642  0.326666
50       70   2510  0.319583
60       88   3988  0.352617
70      103   5578  0.362354
80      121   7754  0.385652
90      136   9806  0.385351
100     153  12058  0.383818
110     166  14268  0.375343
120     180  16464  0.363934
130     194  18681  0.351855
140     212  21757  0.353340

name =  3
        time      X   filling
range
10        6    128  0.407437
20       23    394  0.313535
30       39    779  0.275515
40       53   1279  0.254449
50       69   2031  0.258595
60       83   2772  0.245099
70       96   3724  0.241916
80      111   5148  0.256041
90      122   6119  0.240462
100     153   9855  0.313694
110     173  13085  0.344222
120     188  15836  0.350052
130     208  20176  0.380013
140     221  22914  0.372130

name =  4
        time      X   filling
range
10        6    119  0.378789
20       18    357  0.284092
30       38    774  0.273747
40       56   1385  0.275537
50       76   2385  0.303668
60       93   3496  0.309114
70      109   4884  0.317271
80      129   6883  0.342332
90      149   9069  0.356389
100     169  12237  0.389516
110     188  14630  0.384866
120     206  17000  0.375783
130     221  18776  0.353644
140     241  21678  0.352057

name =  5
        time      X   filling
range
10        7    137  0.436085
20       23    361  0.287275
30       40    714  0.252526
40       53   1177  0.234157
50       68   1689  0.215050
60       87   2552  0.225646
70      102   3122  0.202809
80      115   4003  0.199093
90      137   5578  0.219202
100     151   6815  0.216928
110     188  10949  0.288031
120     203  12959  0.286457
130     225  16741  0.315315
140     246  21158  0.343612

name =  6
        time      X   filling
range
10        7    153  0.487014
20       41    338  0.268972
30       58    580  0.205133
40       74    886  0.176264
50       90   1161  0.147823
60      108   1676  0.148191
70      124   2355  0.152984
80      140   3135  0.155922
90      165   5063  0.198963
100     184   6621  0.210753
110     218  10643  0.279981
120     231  12370  0.273437
130     246  14747  0.277758
140     261  17702  0.287486

name =  7
        time      X   filling
range
10        6    154  0.490197
20       22    578  0.459958
30       40   1119  0.395765
40       57   1997  0.397291
50       72   2887  0.367584
60       93   4504  0.398241
70      108   5980  0.388468
80      126   7870  0.391422
90      148   9857  0.387356
100     169  12506  0.398078
110     191  15761  0.414618
120     206  17921  0.396141
130     222  20255  0.381501
140     242  24091  0.391245

name =  8
        time      X   filling
range
10        8    150  0.477465
20       24    447  0.355711
30       50    752  0.265966
40       62   1040  0.206901
50       81   1662  0.211612
60      102   2732  0.241562
70      127   4184  0.271798
80      143   5748  0.285882
90      168   7923  0.311354
100     183   9695  0.308601
110     203  11964  0.314732
120     222  14439  0.319172
130     239  16986  0.319930
140     256  19658  0.319252

name =  9
        time      X   filling
range
10        7    111  0.353324
20       25    347  0.276134
30       40    590  0.208670
40       58   1226  0.243905
50       78   1830  0.233003
60       98   2833  0.250492
70      120   4901  0.318375
80      136   6836  0.339995
90      154   9416  0.370025
100     167  10960  0.348868
110     194  14811  0.389627
120     213  18000  0.397887
130     231  20971  0.394987
140     255  25612  0.415947

name =  10
        time      X   filling
range
10        7    157  0.499747
20       21    417  0.331838
30       39   1171  0.414157
40       55   2076  0.413007
50       69   2869  0.365292
60       96   4793  0.423794
70      112   6584  0.427705
80      127   8727  0.434045
90      143  11040  0.433845
100     164  13583  0.432360
110     178  15338  0.403491
120     192  17479  0.386371
130     214  21935  0.413144
140     237  27367  0.444448

name =  11
        time      X   filling
range
10        8    142  0.452000
20       24    430  0.342183
30       42    931  0.329274
40       57   1621  0.322488
50       73   2548  0.324421
60       97   4491  0.397092
70      119   6299  0.409191
80      135   7519  0.373964
90      148   8540  0.335601
100     160   9547  0.303890
110     188  13217  0.347694
120     204  15768  0.348549
130     218  18291  0.344509
140     236  21123  0.343044

name =  12
        time      X   filling
range
10        7    143  0.455183
20       21    478  0.380380
30       41   1141  0.403546
40       58   1817  0.361481
50       74   2813  0.358162
60       91   4251  0.375871
70      117   6336  0.411594
80      135   7962  0.395997
90      151   9463  0.371872
100     178  12021  0.382640
110     197  14282  0.375711
120     211  16551  0.365857
130     228  19663  0.370351
140     246  24004  0.389832

name =  13
        time      X   filling
range
10        7    110  0.350141
20       21    496  0.394704
30       39   1022  0.361459
40       58   1777  0.353523
50       72   2619  0.333461
60       92   4111  0.363492
70      107   5401  0.350855
80      129   8044  0.400076
90      151  11032  0.433530
100     171  14167  0.450950
110     186  16840  0.443003
120     201  19600  0.433255
130     222  24529  0.462001
140     237  27981  0.454420

name =  14
        time      X   filling
range
10        6    120  0.381972
20       28    396  0.315127
30       41    794  0.280820
40       58   1609  0.320100
50       74   2335  0.297301
60       93   3297  0.291519
70      111   4597  0.298627
80      132   6543  0.325422
90      150   8268  0.324912
100     166  10270  0.326904
110     184  13252  0.348615
120     202  16692  0.368974
130     226  20874  0.393160
140     246  24880  0.404059

name =  15
        time      X   filling
range
10        6    117  0.372423
20       22    314  0.249873
30       39    545  0.192754
40       61    896  0.178254
50       83   1791  0.228037
60      100   2638  0.233250
70      114   3488  0.226585
80      143   5996  0.298217
90      158   7697  0.302473
100     174  10119  0.322098
110     190  13282  0.349404
120     207  17139  0.378855
130     222  20211  0.380672
140     240  24061  0.390758

name =  16
        time      X   filling
range
10        5    129  0.410620
20       18    418  0.332634
30       35    935  0.330689
40       49   1560  0.310352
50       69   2538  0.323148
60       90   3581  0.316630
70      107   4763  0.309410
80      128   7076  0.351931
90      147   9360  0.367825
100     164  11515  0.366534
110     180  13635  0.358691
120     196  16139  0.356750
130     229  21674  0.408228
140     249  26091  0.423726

name =  17
        time      X   filling
range
10        8    132  0.420169
20       29    335  0.266585
30       45    640  0.226354
40       63   1071  0.213069
50       84   1867  0.237714
60      100   2668  0.235903
70      117   3851  0.250166
80      137   5304  0.263799
90      151   6762  0.265730
100     173   9579  0.304909
110     198  13188  0.346931
120     215  15575  0.344283
130     233  18393  0.346430
140     250  21050  0.341858

name =  18
        time      X   filling
range
10        7    117  0.372423
20       25    262  0.208493
30       39    468  0.165521
40       54    931  0.185217
50       76   1912  0.243443
60       94   3317  0.293287
70      123   5402  0.350920
80      138   6732  0.334822
90      155   8458  0.332378
100     171  10199  0.324644
110     187  12087  0.317968
120     205  14825  0.327704
130     227  18741  0.352985
140     246  23408  0.380153

name =  19
        time      X   filling
range
10        6    114  0.362873
20       22    384  0.305577
30       38    853  0.301687
40       56   1723  0.342780
50       76   3061  0.389739
60       93   4345  0.384182
70      114   6063  0.393860
80      129   7453  0.370682
90      146   9455  0.371558
100     163  12219  0.388943
110     181  15342  0.403596
120     193  17709  0.391455
130     211  21462  0.404235
140     229  25213  0.409467